/* Write a Sass file that assigns:

The text color #3D3D3D to the HTML tags body and p
The background color #6D6D6D to the HTML tags body and h2
You must use 2 Sass variables */

$color-body-and-p: #3D3D3D;
$color-body-h2: #6D6D6D;

body {
    color: $color-body-and-p;
    background-color: $color-body-h2;
}

p {
    color: $color-body-and-p;
}

h2 {
    background-color: $color-body-h2;
}